html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

header {
    background: rgba(169,3,41,1);
    background: linear-gradient(to bottom, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 49%, rgba(109,0,25,1) 100%);
    box-shadow: 0px 6px 12px -2px rgba(0,0,0,0.75);
    padding: 5px;
}

.site-header {
    display: inline-block; 
}

header a {
    color: black;
    text-decoration: none;
    margin: auto 0 auto 10px;
}

#login {
    position: absolute;
    right: 10px;
    top: 35px
}

header form button {
    color: white;
    background: black;
    border: 1px solid black;
    border-radius: 0px 25px 25px 0px;
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
    outline: none;
    cursor: pointer
}

header form input {
    border:none;
    color: white;
    text-align: center;
    border-radius: 25px 25px 25px 25px;
    border-bottom: 1px solid white;
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
    background: black;
    outline: none;
}

header form input::placeholder {
    text-align: center;
    color: white;
}

nav a {
    color: white;
    font-size: 14px;
}

footer { 
    background: rgba(169,3,41,1);
    background: linear-gradient(to bottom, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 49%, rgba(109,0,25,1) 100%);
    box-shadow: 0px -4px 13px 0px rgba(0,0,0,0.75);
    padding: 5px;
    clear: both;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

footer a {
    color: black;
    text-decoration: none;
    text-align: right;
}

.galery img {
    width: 200px;
    height: 200px;
    
}

main {
    background: white;
    margin-bottom: 200px;;
}

main h2 {
    text-align: center;
    margin-top: 30px;
}

main div h3 {
    text-align: center;
}

.trailer-desc {
    display: inline-block;
    margin: 10px;
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(143,2,34,1) 97%, rgba(109,0,25,1) 100%);
    color: white;
    border-radius: 25px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}

.trailer {
    float: left;
    margin:0 30px 0 30px;
}

.description {
    margin: 15px;
    padding: 5px;
}

.req-galery {
    display: inline-block;
    height: auto;
    width: 90%;
    background: linear-gradient(to right, rgba(109,0,25,1) 0%, rgba(143,2,34,1) 0%, rgba(0,0,0,1) 100%);
    margin: 30px 5% 30px 5%;
    border-radius: 25px;
    color: white;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}

.galery {
    float: right;
    padding: 5px;
}

.requirements {
    margin: 15px;
    padding: 5px;
}

.buy_game {
    text-align: center;
    clear: both;
    background: black;
    color: white;
    border-radius: 25px;
    padding: 5px;
    margin: 10px 30% 30px 30%;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}

.Btn {
    background: rgba(169,3,41,1);
    color: white;
    padding: 5px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin: 20px 10px 20px 10px;
}

/* Telefonos */
@media screen and (max-device-width: 600px ) {
    .trailer {
        float: none;
        margin-left: 22%;
    }

    main, .site-header, .requirements, .buy_form {
        font-size: 24px;
    }
}

.buy_form{
    display: none;
    font-size: 14px;
    position: absolute;
    background-color: black;
    border-radius: 25px;
    width: 500px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}

.quantity {
    display: inline-block;
    border-radius: 100%;
    color: white;
}

.fields {
   text-align: center;
}

.fields label {
    display: inline-block; 
    width: 200px; 
    text-align: right; 
}

.inputs {
    border:none;
    color: white;
    text-align: center;
    border-bottom: 1px solid white;
    background: black;
    outline: none;
    margin-left: 30px;
    outline: none;
    line-height: 2em;
}

.quantityBtn{
    background-color: rgba(143,2,34,1);
    border-radius: 100%;
    color: white;
    border: none;
    width: 20px;
    height: 20px;
}

.dropdown {
    background-color:  black;
    color: white;
    border: none;
    border-bottom: 1px solid white;
}

.delivery{
    display: none;
}